<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CodeQuotient</title>
</head>
<body>
    <h2>Hello <%=locals.displayname%></h2>

    <h4>Welcome to the discussion portal. Please use the OTP for login.</h4>
    <%=locals.token%>

    <h3>Thanks</h3>
</body>
</html>